body {
	font-family:  'Lato', sans-serif;
	color: #D0C4AB;
	font-weight: 300;
}

.text-muted {
	color: #BCBBBB;
}

.text-thin {
	font-weight: 100;
	color: #131A2D;
}

.title-super {
	font-size: 60px;
}

.title-logo {
	margin-top: 10px;
}

.purple-bg {
	background-color: #131A2D
}

.text-thick {
	color: #131A2D;
	font-family: 'Lato', sans-serif;
	font-weight: 900;
}